<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div id="maxSize">Please open application as desktop site</div>
<div id="bg1">

  <ul class="top-left-container">
    <li><a href="#bg2">
        <p>About</p>
      </a></li>
    <li>
      <a href="#bg3">
        <p>Skills</p>
      </a>
    </li>
    <li>
      <a href="#bg4">
        <p>Experience</p>
      </a>
    </li>
    <li>
      <a href="#downloadResume">
        <p>Resume</p>
      </a>
    </li>
    <li>
      <a href="#bg6">
        <p>Contact</p>
      </a>
    </li>

  </ul>
  <div class="intro-section" id="intro">
    <ul style="list-style: none;">
      <li>
        <h1 id="name">{{name}}</h1>
      </li>
      <li>
        <h1 id="content">{{content}}</h1>
      </li>
      <li>
        <a href="mailto:sambarenakul@gmail.com" class="socialMediaIconStyle"> <i class="fa-solid fa-envelope "></i></a>
        <a href="https://www.linkedin.com/in/nakul-sambare-nagpur/" class="socialMediaIconStyle">
          <i class="fa-brands fa-linkedin "></i></a>
        <a href="https://github.com/NakulSambare" class="socialMediaIconStyle"> <i
            class="fa-brands fa-square-github "></i></a>
      </li>
    </ul>


  </div>
</div>
<div id="bg2">
  <div class="section-wrapper fade-in-element">
    <img src="../assets/images/profilePhoto.jpg" alt="" srcset="" id="profilePhoto">
    <h1 id="aboutHeader">{{aboutHeader}}</h1>
    <p id="aboutData">{{aboutData}}</p>

  </div>
</div>
<div id="bg3">
  <div class="section-wrapper2 fade-in-element">
    <h1 id="aboutHeader2">Skills</h1>
    <span class="divider"></span>
    <h1 class="headerStyle"><i class="fa-regular fa-gear-code"></i><i class="fa-solid fa-code"></i> Development </h1>
    <div class="row">
      <div class="col-3 p-0">
        <p class="skillHeadersStyle">Programming Languages</p>

        <!-- <div class="skillDataStyle"> -->
        <ul style="list-style-type: none;padding-left: 0;">
          <li class="bulletStyle"><i class="fa-brands fa-java"></i>&nbsp;&nbsp;&nbsp; Java</li>
          <li class="bulletStyle"><i class="fa-brands fa-js"></i>&nbsp;&nbsp;&nbsp; Javascript</li>
          <li class="bulletStyle"><i class="fa-brands fa-html5"></i>&nbsp;&nbsp;&nbsp; HTML</li>
          <li class="bulletStyle"><i class="fa-brands fa-css3"></i>&nbsp;&nbsp;&nbsp; CSS</li>
          <li class="bulletStyle"><i class="fa-solid fa-database"></i>&nbsp;&nbsp;&nbsp; SQL</li>
        </ul>

      </div>
      <div class="col-2 p-0">
        <p class="skillHeadersStyle">Frameworks</p>

        <ul style="list-style-type: none;padding-left: 0;">
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Spring Boot</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Spring MVC</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp; Angular</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Spring Security</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Junit</li>
        </ul>
      </div>
      <div class="col-2 p-0 ">
        <p class="skillHeadersStyle">Databases</p>

        <ul style="list-style-type: none;padding-left: 0;">
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Oracle</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;MySQL</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;MongoDB</li>

        </ul>
      </div>
      <div class="col-2 p-0 " style="text-align: left;">
        <p class="skillHeadersStyle">Tools</p>

        <ul style="list-style-type: none;padding-left: 0; ">
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Eclipse</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Spring Tool Suite (STS)</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Oracle SQL Developer</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;MS Office</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Win SCP</li>
          <li class="bulletStyle"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;&nbsp;Putty</li>

        </ul>
      </div>
    </div>

  </div>
</div>
<div id="bg4">
  <div class="section-wrapper2 fade-in-element">
    <h1 id="aboutHeader2">Experience</h1>
    <span class="divider"></span>
    <h2 class="headerStyle2">LTIMindtree (Jun-2021 - Present)</h2>
    <p class="pStyle">Java Developer</p>

  </div>
</div>
<!-- <div id="bg5"> -->

<a id="downloadResume" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" target="_blank"
  href="../assets/pdfs/Nakul_Sambare_Java_Developer_4.pdf">
  <ng-container *ngIf="!isHovered; else hoveredContent">
    <p class="text">VIEW MY FULL RESUME</p>
  </ng-container>
  <ng-template #hoveredContent><i class="fa-solid fa-download  iconstyle"></i></ng-template>
</a>
<!-- </div> -->

<div id="bg6">
  <div class="overlay" *ngIf="isLoading">
    <div class="loader">Loading...</div>
  </div>
  <div class="about-section-wrapper fade-in-element">
    <h1 class="contact-header-style">CONTACT</h1>
    <p class="pStyle">Feel free to Contact me by submitting the form below and I will get back to you as soon as
      possible</p>
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <div class="card cardStyle">
          <div class="card-body">
            <form [formGroup]="contactForm" (ngSubmit)="submitMessage()">
              <div class="mb-3">
                <label for="nameInput" class="form-label pStyle">Name</label>
                <input type="text" class="form-control inputStyle" name="username" id="username"
                  formControlName="username" aria-describedby="nameHelp">
                <span *ngIf="username && username.invalid && username.touched" style="color : red">*Please enter
                  name.</span>

              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label pStyle">Email</label>
                <input type="email" class="form-control inputStyle" name="userEmail" id="userEmail"
                  formControlName="userEmail" aria-describedby="emailHelp">
                <span *ngIf="userEmail && userEmail.invalid && userEmail.touched" style="color : red">*Please enter
                  proper email.</span>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label pStyle">Message</label>
                <textarea class="form-control inputStyle" id="exampleFormControlTextarea1" rows="3" name="message"
                  id="message" formControlName="message"></textarea>
                <span *ngIf="message && message.invalid && message.touched" style="color : red">*Please enter
                  message.</span>

              </div>
              <div class="" style="text-align: center; margin-top: 5px;">

                <button type="submit" class="btn btn-success p-2"
                  [disabled]="contactForm.invalid">Submit</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-info p-2">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
